:root {
  --background: #f4f7fa;
  --border: #e4e8ee;
  --white: #fff;
  --disabled: #b7bcc4;
  --primary: #2f4f4f;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  font-family: "Varela", sans-serif;
  font-size: 12px;
}

button {
  padding: 0.5rem;
  width: 200px;
  border: 0;
  border-radius: 0.317rem;
  background-color: var(--primary);
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}
