:root {
  --background: #f4f7fa;
  --border: #e4e8ee;
  --white: #fff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
